@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --White: hsl(0, 100%, 100%);
  --Gray-200: hsl(270, 3%, 87%);
  --Gray-400: hsl(212, 12%, 71%);
  --Purple-950: hsl(278, 68%, 11%);
}

@theme {
  --font-space: "Space Grotesk", sans-serif;
}
